<h3 class="text-3xl text-[#163269] mt-6 ml-4"> Requested by: <%= @leave_letter.appointment.student.user.name %> </h3>

<p class = "text-[#163269] ml-4 mt-2"> Title: <%= @leave_letter.title %></p>

<p class="text-[#163269] ml-4 mt-4"> Applicant response:</p>
<p class="bg-gray-100 mx-4 p-4 rounded-xl"><%= @leave_letter.applicant_response %></p>

<p class = "text-[#163269] ml-4 mt-2"> Start Date: <%= @leave_letter.start_date %></p>
<p class = "text-[#163269] ml-4 mt-2"> End Date: <%= @leave_letter.end_date %></p>
<p class = "text-[#163269] ml-4 mt-2"> Status: <%= @leave_letter.status %></p><br></p>

<% if @leave_letter.status=="created" %>
<h3 class= "text-[#163269] mt-2 ml-4">HCC Comments -</h3>
<%= form_with model: @leave_letter, url: hcc_add_leave_letter_comments_path(@leave_letter),method: :patch do |f| %>
  <%= f.text_area :hcc_comments, class: "text ml-4 textarea textarea-warning" %>  <br>
  <%= f.submit "Add Comment", class: "btn btn-outline btn-ghost btn-xs ml-4" %>
<% end %>
<% end %>

<br>

<% if @leave_letter.status=="created" %>
<%= form_with url: hcc_forward_leave_letter_path(@leave_letter), method: :post do %>
    <%= submit_tag "Forward Leave Letter",class: "text-white btn btn-info btn-active ml-4 mr-2 rounded-2xl" %>
<% end %>
<% end %>

<%= link_to "Back to All Leave Letters",hcc_view_leave_letters_path,class: "btn btn-active btn-ghost ml-4 mt-6" %>