<h1 class="text-3xl text-[#163269] mt-6 ml-4"> Student Profile </h1>

<p class = "text-[#163269] ml-4 mt-2">Name: <%= @user.name %></p>
<p class = "text-[#163269] ml-4 mt-2">Email: <%= @user.email %></p>
<p class = "text-[#163269] ml-4 mt-2">Role: <%= @user.role %></p>
<p class = "text-[#163269] ml-4 mt-2">ID: <%= @student.student_id %></p>
<p class = "text-[#163269] ml-4 mt-2">Department: <%= @student.department %></p>
<p class = "text-[#163269] ml-4 mt-2">Program Type: <%= @student.program_type %></p>

<%= link_to "Back to Dashboard",root_path,class: "btn btn-active btn-ghost ml-4 mt-4" %>