<h3 class="text-3xl text-[#163269] mt-6 ml-4"> Requested by: <%= @appointment.student.user.name %> </h3>

<p class = "text-[#163269] ml-4 mt-4"> Reason: <%= @appointment.reason %></p>
<p class = "text-[#163269] ml-4 "> Severity: <%= @appointment.severity %> </p>
<p class = "text-[#163269] ml-4"> Approval Status: <%= @appointment.approved %> </p>
<p class = "text-[#163269] ml-4"> Doctor: <%= @appointment.doctor.name %> </p>
<p class = "text-[#163269] ml-4"> TimeSlot : <%= @appointment.time_slot.day %> <%= @appointment.time_slot.begin %> to <%= @appointment.time_slot.end %></p>

<p class= "text-[#163269] mt-2 ml-4">Remarks by HCC: </p>
<textarea class = "text ml-4 textarea textarea-warning"><%= @appointment.hcc_comments %></textarea><br><br>

<%= form_with url: delete_student_appointment_path(@appointment), method: :delete do %>
    <%= submit_tag "Delete appointment" ,class: "text-white btn btn-info btn-active ml-2 rounded-2xl" %>
<% end %>
<br>
 
<%= link_to "Back to Appointments",student_view_appointments_path,class: "btn btn-active btn-ghost ml-4 mt-4" %>