<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hcc Module" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-screen h-screen>

    <p role="alert" class="alert alert-info"><%= notice %></p>
    <% if alert %>
    <p mt-4 mx-4> <div role="alert" class="alert alert-error my-2"><span><%= alert %></span></div></p>
    <% end %>

    <% if current_user %>
    <div class="navbar bg-gray-200">
    <div class="flex-1">
      <% if current_user.role=="student" %>
      <p class="btn btn-ghost text-xl text-[#163269]" >
      <%= link_to "Welcome, #{current_user.email}",student_view_profile_path %>
      </p>
      <% elsif current_user.role=="hcc_in_charge" %>
      <p class="btn btn-ghost text-xl text-[#163269]" >
      <%= link_to "Welcome, #{current_user.email}",hcc_view_profile_path %>
      </p>
      <% elsif current_user.role=="dsw" %>
      <p class="btn btn-ghost text-xl text-[#163269]" >
      <%= link_to "Welcome, #{current_user.email}",dsw_view_profile_path %>
      </p>
      <% end %>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to "Home",root_path %>
        </li>
        <li><%= form_with(url: destroy_user_session_path, method: :delete) do %>
          <%= submit_tag "Sign Out" %>
        <% end %></li>
      </ul>
    </div>
    </div>
        <% end %>
    <%= yield %>
  </body>
</html>
